.input-field {
    display: flex;
    flex-direction: column;
}

.input-field input {
    width: 300px;
    height: 35px;
    border: 1px solid black;
    margin-top: 5px;
    padding: 0 5px;
}

/* phones */
@media only screen and (max-width: 426px) {
    .input-field input {
        width: 250px;
    }
}